.App {
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.feed-container {
  height: 80%;
  width: 80%;
  display: block;
}

#maverick-feed {
  height: 100%;
  width: 100%;
}
